@media (max-width: 1400px) {
    .banner_right .green_circle{
        right: 15rem;
    }
    
    .banner_right .yellow_circle{
        left: 8.5rem;
    }
    
    .banner_right .safe_circle{
        right: 8.5rem;
    }
}

@media (max-width: 1200px) {
    .banner_heading {
        font-size: 7rem;
        font-weight: 700;
        line-height: 8rem;
        
    }
    .landing_footer_banner p{
        font-size: 4rem;
    }
    .banner_right .green_circle{
        width: 70px;
    }
    
    .banner_right .yellow_circle{
        bottom: 28rem;
        left: 7.5rem;
        width: 40px;
    }
    
    .banner_right .safe_circle{
        bottom: 18rem;
        right: 7rem;
        width: 50px;
    }
}


@media (max-width: 992px) {
    .navbar-nav .nav-item .nav-link.active {
        text-underline-offset: 0.5rem !important;
    }
    .banner_heading {
        font-size: 6rem;
        font-weight: 700;
        line-height: 7rem;
    }
    
    .banner_prea {
        font-size: 2rem;
        margin: 1.5rem 0rem;
    }
    .banner_button button{
        width: 32rem;
    }
    .landing_service .big_heading, 
    .landing_expertise .big_heading {
        font-size: 6rem;
        margin: 10rem 0rem;
    }
    .service_box h1 {
        font-size: 3rem;
        line-height: 4rem;
    }
    .start{
        font-size: 2rem;
    }

    .banner_right .user_chat{
        width: 500px;
        height: 500px;
    }

    .banner_right .safe_circle{
        bottom: 16.5rem;
    }

    .landing_expertise .big_heading{
        margin: 3rem 0rem;
    }

    .carousel_item {
        height: 48rem;
    }

    .carousel_item .item_upper_div{
        border-bottom-left-radius: 150px;
    }
    .expertise_box h2 {
        font-size: 3rem;
    }

    .expertise_box img{
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 768px) {
    .achievement_heading,
    .leadership_heading,
    .achi_heading {
        font-size: 3.5rem;
        line-height: 4rem;
    }
    .achievement_subheading,
    .leadership_subheading {
        font-size: 2rem;
    }
    .service_box img {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .banner_right .green_circle{
        right: 25em;
    }
    
    .banner_right .yellow_circle{
        bottom: 27em;
        left: 19em;
    }
    
    .banner_right .safe_circle{
        right: 19em;
    }
    .card_box h2{
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
    .card_box span{
        font-size: 2rem;
    }
    .about_banner .about_img1 {
        width: 50em;
    }
    .achi_work_heading{
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .carousel_item {
        margin-left: 0px;
        height: 36rem;
    
    }
    .expertise_box h2 {
        font-size: 2rem;
    }

    .expertise_box img{
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 576px) {
    .navbar-brand img{
        margin: 0rem;
    }
    .landing_footer .footer_img{
        
    }
    
    .achievement_heading{
        font-size: 3rem;
        line-height: 3rem;
    }
    .job_right_part1 p {
        width: 100% !important;
    }
    .landing_footer_banner p{
        font-size: 3rem;
    }
    .about_banner .about_img1 {
        width: 40em;
    }
    .about_banner .about_banner_box,
    .recruit_map_section .recruit_banner_box{
        font-size: 1.5rem;
        line-height: 2.5rem;
        padding: 2rem;
    }

    .expertise_box h2 {
        font-size: 1.5rem;
        line-height: 30px;

    }
    .carousel_item {
        height: 28rem;
    }
    .carousel_item .item_upper_div{
        border-bottom-left-radius: 100px;
    }

}