@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}

:root {
    --inter-font: 'Inter', sans-serif;
    --time-font: 'Times New Roman', Times, serif;
    --imprima-font: 'Imprima', serif;
    --inria-font: 'Inria Sans', sans-serif;
    --manrope-font: 'Manrope',serif;

    --bg-white: #fff;
    --bg-dark: #000;
    --bg-orange: rgba(247, 118, 31, 1);
    --bg-light-orange: rgba(247, 118, 31, 0.1);

    --black-color: #000;
    --light-blue-color: rgba(24, 30, 75, 1);
    --secondary-color: rgba(159, 156, 156, 1);
    --secblack-color: rgba(35, 36, 42, 1);
    --footer-color: rgba(96, 107, 134, 1);
    --orange-color: rgba(247, 118, 31, 1);
}


body,
html {
    color: var(--black-color);
    font-weight: 400;
    font-size: 10px;
    font-family: var(--inter-font);
    scroll-behavior: smooth;
    line-height: 1.5;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

embed,
iframe,
image,
object {
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
a:active,
a:focus,
a:hover,
button {
    text-decoration: none;
    outline: 0;
    color: var(--black-color);
}

.bo {
    border: 2px solid red;
}

.navbar-brand img {
    width: 16.6rem;
}

#navbarNav ul .nav-item {
    font-size: 1.8rem;
    line-height: 3.2rem;
}

.main-btn,
.start {
    background-color: var(--bg-orange);
    border-radius: 3rem;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 3.2rem;
    padding: 1.5rem 3rem;
    cursor: pointer;

}

.nav-item .nav-link {
    color: var(--black-color);

}

.navbar-nav .nav-item .nav-link.active {
    text-decoration: underline 4px solid var(--bg-orange) !important;
    text-underline-offset: 4rem !important;
    color: var(--bg-orange) !important;
}

.landing_banner_section {
    margin-top: 8.8rem;
    background: linear-gradient(180deg, #FEF1E9 0%, rgba(254, 241, 233, 0) 100%);
}

.banner_heading {
    font-size: 9rem;
    font-weight: 700;
    line-height: 10rem;
    padding: 1rem;
    color: var(--light-blue-color);
}

.banner_subheading,
.service_card_subheading {
    font-family: var(--imprima-font);
    font-size: 2rem;
    color: var(--secondary-color);
    line-height: 3rem;
    margin: 3rem 0rem;
    padding: 1rem;

}

.banner_button button {
    width: 41rem;
    outline: none;
    border: none;

}

.banner_right {
    position: relative;
}

.banner_right .green_circle {
    position: absolute;
    top: 6rem;
    right: 21rem;
}

.banner_right .yellow_circle {
    position: absolute;
    bottom: 34rem;
    left: 14.5rem;
}

.banner_right .safe_circle {
    position: absolute;
    bottom: 21.5rem;
    right: 13.5rem;

}

.achievement_heading,
.leadership_heading,
.achi_heading {
    font-size: 5rem;
    font-weight: 700;
    line-height: 7rem;
    text-align: center;
}

.achievement_subheading,
.leadership_subheading,
.achi_subheading {
    font-family: var(--imprima-font);
    font-size: 3rem;
    text-align: center;
    color: var(--secondary-color);

}

.acheivement_box {
    width: 30rem;
    border-radius: 0.8rem;
    background-color: var(--bg-light-orange);
    padding: 4rem 0rem;
    text-align: center;
}

.acheivement_box h1 {
    font-family: var(--inria-font);
    font-size: 7rem;
    font-weight: 700;
    line-height: 3rem;
    text-align: center;
    margin-bottom: 3rem;

}

.acheivement_box span {
    font-family: var(--inria-font);
    font-size: 2rem;
    font-weight: 300;
    line-height: 3rem;
    text-align: center;

}

.landing_service .big_heading,
.landing_expertise .big_heading {
    font-family: var(--inria-font);
    font-size: 7rem;
    font-weight: 700;
    line-height: 7rem;
    margin: 15rem 0rem 10rem 0rem;
}

.landing_service .service_box {
    border-radius: 2.4rem;
    border: 2px solid rgba(253, 235, 255, 1);
    padding: 3rem;
    line-height: 8rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.service_box img {
    width: 5rem;
    height: 5rem;
}

.service_box h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 6rem;
}

.landing_expertise {
    padding-left: 8rem;
}

.landing_expertise .carousel-item {
    background-color: rgba(247, 118, 31, 1);
    border-bottom-left-radius: 140px;

}

.landing_expertise .expertise_box {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    width: 41rem;
    height: 31rem;
}

.landing_expertise .expertise_box h2 {
    font-family: var(--inter-font);
    font-size: 4rem;
    font-weight: 700;
    line-height: 70px;

}

.job_small_heading {
    font-family: var(--imprima-font);
    color: rgba(243, 118, 34, 1);
    font-weight: 600;
}

.job_right_part1,
.job_right_part2,
.job_right_part3 {
    border-left: 4px solid rgba(234, 234, 234, 1);
    padding-left: 2rem;
    border-radius: 5px;

}

.job_right_part1 {
    border-left: 4px solid rgba(243, 118, 33, 1);
}

.card_box {
    margin-bottom: 4rem;
}

.card_box h2 {
    font-family: Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.5rem;

}

.card_box span {
    font-family: Helvetica, sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    text-align: center;
}

.landing_footer_banner span {
    font-family: var(--inter-font);
    font-size: 4.5rem;
    font-weight: 600;
    line-height: 5.5rem;
    text-align: left;
    color: var(--bg-white);
}

.start {
    letter-spacing: 1px;
    background-color: var(--bg-white);
    color: var(--black-color);
    font-size: 2.5rem;
}

.landing_footer_banner {
    background-color: var(--bg-orange);
    margin: 150px 0px 75px 0px;
}

.landing_footer .footer_heading {
    font-size: 2rem;
    font-weight: 700;
} 

.landing_footer .footer_subheading {
    font-size: 2rem;
    line-height: 3rem;
}

.footer_heading+ul li a {
    color: var(--footer-color) !important;
    font-size: 2rem;
    line-height: 4.5rem;
    text-align: left;
    cursor: pointer;

}

.footer_heading+ul li a:hover {
    color: var(--orange-color) !important;
}

.footer_heading+ul li i,
.footer_heading+ul li img{
    cursor: pointer;
}

.icon_style {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

i.icon_style {
    font-size: 2.5rem;
}

.landing_copyright {
    margin: 15rem 0rem 3rem 0rem;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: rgb(248, 240, 240);
}

::-webkit-scrollbar-thumb {
    background-color: var(--bg-orange);
}

/* about css */
.about_banner {
    margin-top: 8.8rem;
}

.about_banner h2,
.about_card h2 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 4rem;
    letter-spacing: 0.1em;
    color: #EE4D47;

}


.about_banner p,
.about_card p {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 4rem;
    margin: 2rem 0rem;
    color: #402B2B;
}

.about_banner .about_banner_box,
.recruit_map_section .recruit_banner_box{
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 3.5rem;
    padding: 3.5rem;
    background-color: #FCDDD4;
    border-left: 10px solid #ED4D47;

}

.about_card .card1 {
    box-shadow: 0px 20px 40px 0px rgba(238, 77, 71, 0.1);

}

.about_values h1 {   
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 4.rem;

}

.about_values p {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 28px;

}

.card {
    border: none;
}

.about_values .card .img_circle {
    width: 40px;
    height: 40px;
    border-radius: 30%;
    background-color: rgba(247, 118, 31, 1);
}

.about_values .card .card-title {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 2.6rem;
}

.about_values .card .catd-text {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.6rem;
}

.about_career h2 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.5rem;

}

.about_career p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.5rem;
}

.about_career h3 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.5rem;

}

.about_getin iframe {
    border-radius: 3rem;
    width: 55rem;
    height: 70rem; 
}

.about_getin h1 {
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 5.5rem;

}

.about_getin p {
    font-size: 1.8rem;
    line-height: 2.5rem;

}

.about_getin .getin_subheading label {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 2rem;
    color: rgba(24, 25, 69, 0.6);
    margin-bottom: 1rem;

}

/* .about_getin .getin_subheading input,
.about_getin .getin_subheading select {

    width: 28.5rem;
    height: 4.5rem;

} */

.about_getin .getin_subheading input,
.about_getin .getin_subheading select,
.about_getin .getin_subheading textarea {
    border: 1px solid rgba(24, 25, 69, 0.1);
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: rgba(24, 25, 69, 0.6);
}

.about_getin .getin_submit_section label div {
    width: 48px;
    height: 48px;
    background-color: rgba(245, 118, 32, 1);
    color: #fff;
    font-size: 2.4rem;
    border-radius: 15px;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
    
}

.about_getin .getin_submit_section span {
    font-size: 1.8rem;
    line-height: 2rem;
    color: rgba(88, 63, 188, 1);
    cursor: pointer;
}

.about_getin .getin_submit_section button {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.5rem;
    color: #fff;
    background-color: rgba(245, 118, 32, 1);
    padding: 1rem 6rem;
    border-radius: 10rem;
    border: none;
}


/* achievement page */
.ache_section{
    font-family: var(--manrope-font);
}
.ache_section h1{
    font-weight: 700;
}
.achi_work_heading{
    font-size: 4.5rem;
    font-weight: 600;
    line-height: 5.5rem;
    text-align: center;
}

.achievement_work .card_container .card1{
    border-radius: 24px;
    border: 1px solid var(--orange-color);
    
}
.achievement_work .card_container .card1:not(.card_orange):hover{
    background-color: rgba(247, 118, 31, 0.09);
}
.card_orange {
    background-color: var(--orange-color);
    color: var(--bg-white);

}


/* IT Recruitment Page */
.it_how_work .heading{
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 43.57px;

}
.it_how_work .row{
    background-color: rgba(255, 247, 245, 1);
    box-shadow: 0px 20px 40px 0px rgba(238, 77, 71, 0.1);
}
.it_how_work .left_box{
    background-color: var(--bg-white);
    border-radius: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15) !important;
    padding: 2.1rem;
}
.it_how_work p{
    font-size: 18px;
    font-weight: 300;
    line-height: 40px;
    color: rgba(64, 43, 43, 1);

}

.accordion-item {
    border-radius: 10px !important;
    margin-bottom: 10px;
}

.accordion-button{
    /* border: none !important; */
    border-radius: 10px !important;
    /* outline: none !important; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.15) !important;
}


.accordion-button:not(.collapsed) {
    color: var(--black-color);
    background-color: var(--bg-white);
    /* box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125); */
}
.accordion-button:focus {
    box-shadow: none;
}

.accordion-button::after{
    background-image: url("../image/it_recruit_img/plus.png");
    width: 2.25rem;
    height: 2.25rem;
    background-position: center;
    background-size: 15px;
}
.accordion-button:not(.collapsed)::after{
    background-image: url("../image/it_recruit_img/plus.png");
    transform: rotate(0deg);
}

